#imgIris {
    display: block;
    margin: 30px auto;
    width: 50%;
    border-radius: 50%;
}


table {
    margin: 0 auto;
    margin-bottom: 10px ;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}
